@model Categoria

<main role="main">
    <section class="container" style="margin-top: 50px">
        <div class="row">
            <aside class="col-sm-6 offset-sm-3">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Editar Categoria</h4>
                    </header>
                    <article class="card-body">
                        <form asp-action="Edit">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Nome" class="control-label"></label>
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                    <input type="hidden" asp-for="Nome" name="nomeAntigo" />
                                </div>
                            </div>
                            <br />
                            <div class="form-row">
                                <div class="col form-group">
                                    <button type="submit" class="btn btn-success btn-block btn-lg" /> Confirmar
                                </div>
                            </div>
                        </form>
                    </article>
                </div>
            </aside>
        </div>
    </section>
    <hr />
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
