<!DOCTYPE html>
<html  lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ASP.NET Core MVC - LivrariaMHS</title>
        <meta name="description" content="Livraria em ASP.NET Core MVC">
        <meta name="author" content="Michel Hanzen Scheeren">
        <!-- Importações padrões -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-Darkly.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!--Icones Font Awesome-->
        <link rel="stylesheet" href="~/lib/fontawesome-5.11.2-web/css/all.css">
        <!--E-commerce-->
        <link rel="stylesheet" href="~/lib/bootstrap-ecommerce-uikit/css/ui.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-ecommerce-uikit/css/responsive.css" media="only screen and (max-width: 1200px)" />
        <!--AutoComplete-->
        <link rel="stylesheet" href="~/lib/jquery-auto-complete/jquery-ui.css">
        <script src="~/lib/jquery-auto-complete/jquery-3.4.1.js"></script>
        <script src="~/lib/jquery-auto-complete/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!--Select List Personalizada-->
        <link rel="stylesheet" href="~/lib/bootstrap-select/select.css">
        <script src="~/lib/bootstrap-select/select.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" style="height: 55px">
                <a class="navbar-brand" asp-controller="Livros" asp-action="Index"><i class="fas fa-paw"></i>&ensp;WOLF Livraria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Livros" asp-action="Index"><i class="fas fa-book-open"> </i>&ensp;Livros&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Clientes" asp-action="Index"><i class="fas fa-user-circle"></i>&ensp;Clientes&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Categorias" asp-action="Index"><i class="fas fa-align-justify"></i>&ensp;Categorias&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Vendas" asp-action="Index"><i class="fas fa-money-check-alt"></i>&ensp;Vendas&emsp;</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted" style="height: 20px">
            <div class="container">
                <aside class="offset-sm-11">
                    &copy; 2019 - Livraria Wolf - <a asp-controller="Home" asp-action="Privacy">Privacidade</a>
                </aside>
            </div>
        </footer>
        <!--JS das máscaras de CPF, Telefone...-->
        <script src="~/lib/jquery-mask-plugin/src/jquery.mask.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
