@model LivroViewModel

<main role="main">
    <section class="container" style="margin-top: 50px;">
        <div class="row">
            <aside class="col-sm-6 offset-sm-3">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Cadastrar Livro</h4>
                    </header>
                    <article class="card-body">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="col form-group">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="imagem" class="control-label">Imagem</label>
                                    <img id="mostrarImagem" class="form-group" style="width:100%;">
                                    <input type="file" name="imagem" class="form-control-file" onchange="alterarImagem(this)" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Livro.Titulo" class="control-label"></label>
                                    <input asp-for="Livro.Titulo" class="form-control" />
                                    <span asp-validation-for="Livro.Titulo" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Livro.Autor.Nome" class="control-label"></label>
                                    <input asp-for="Livro.Autor.Nome" id="autoCompleteAutor" class="form-control" />
                                    <span asp-validation-for="Livro.Autor.Nome" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Livro.Paginas" class="control-label">Nº Páginas</label>
                                    <input asp-for="Livro.Paginas" class="form-control" />
                                    <span asp-validation-for="Livro.Paginas" class="text-danger"></span>
                                </div>
                                <div class="col form-group">
                                    <label asp-for="Livro.Ano" class="control-label">Ano de Lançamento</label>
                                    <input asp-for="Livro.Ano" class="form-control" />
                                    <span asp-validation-for="Livro.Ano" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Livro.Edicao" class="control-label"></label>
                                    <input asp-for="Livro.Edicao" class="form-control" />
                                    <span asp-validation-for="Livro.Edicao" class="text-danger"></span>
                                </div>
                                <div class="col form-group">
                                    <label asp-for="Livro.Preco" class="control-label"></label>
                                    <input asp-for="Livro.Preco" class="form-control" />
                                    <span asp-validation-for="Livro.Preco" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                            <div class="form-row">
                                <div class="col form-group">
                                    <label class="control-label">Categoria(s)</label>
                                    <select multiple name="categoriasID" asp-items="@(new MultiSelectList(Model.Categorias, "ID", "Nome"))" class="form-control selectpicker" data-style="btn-default text-dark" title="Selecione"></select>
                                    <span asp-validation-for="Livro.LivrosCategorias" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="form-row">
                                <div class="col form-group">
                                    <button type="submit" class="btn btn-success btn-block btn-lg" /> Confirmar
                                </div>
                            </div>
                        </form>
                    </article>
                </div>
            </aside>
        </div>
    </section>
    <hr />
</main>

<script>
    function alterarImagem(componente) {
        var elemento = document.getElementById("mostrarImagem");//.style.display = "none";
        elemento.src = window.URL.createObjectURL(componente.files[0]);
        elemento.style.display = "block"
    }

    $(document).ready(function () {
        $("#autoCompleteAutor").autocomplete({
            source: function (request, response) {
                $.getJSON("/api/autoComplete/searchAutores", request, function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item
                        }
                    }))
                })
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
