@model LivrariaMHS.Models.ViewModels.LivroViewModel

@{
    ViewData["Title"] = "NOVO LIVRO";
}

<p><h1>@ViewData["Title"]</h1></p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Livro.Titulo" class="control-label"></label>
                <input asp-for="Livro.Titulo" class="form-control" />
                <span asp-validation-for="Livro.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Paginas" class="control-label"></label>
                <input asp-for="Livro.Paginas" class="form-control" />
                <span asp-validation-for="Livro.Paginas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Preco" class="control-label"></label>
                <input asp-for="Livro.Preco" class="form-control" />
                <span asp-validation-for="Livro.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Edicao" class="control-label"></label>
                <input asp-for="Livro.Edicao" class="form-control" />
                <span asp-validation-for="Livro.Edicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Ano" class="control-label"></label>
                <input asp-for="Livro.Ano" class="form-control" />
                <span asp-validation-for="Livro.Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Autor.Nome" class="control-label"></label>
                <input asp-for="Livro.Autor.Nome" class="form-control" />
                <span asp-validation-for="Livro.Autor.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorias" class="control-label"></label>
                <select multiple name="categoriasID" asp-items="@(new MultiSelectList(Model.Categorias, "ID", "Nome"))" class="form-control"></select>
                <span asp-validation-for="Categorias" class="text-danger"></span>
            </div>
            <hr /><hr />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success btn-lg" /> &ensp;
                <a asp-action="Index" class="btn btn-info btn-lg">Voltar</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
