@model LivrariaMHS.Models.Attributes.Cliente
@using LivrariaMHS.Models.Enums

<script>function maiusculas(valor) { valor.value = valor.value.toUpperCase() }</script>

<main role="main">
    <section class="container" style="margin-top: 50px">
        <div class="row">
            <aside class="col-sm-6 offset-sm-3">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Editar Cadastro</h4>
                    </header>
                    <article class="card-body">
                        <form asp-action="Edit">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Nome" class="control-label"></label>
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Sexo" class="control-label"></label>
                                    <select asp-for="Sexo" placeholder="Selecione" asp-items="Html.GetEnumSelectList<Sexo>()" class="form-control"><option class="text-secondary" value="" disabled selected hidden>Selecione...</option></select>
                                    <span asp-validation-for="Sexo" class="text-danger"></span>
                                </div>
                                <div class="col form-group">
                                    <label asp-for="CPF" class="control-label"></label>
                                    <input asp-for="CPF" class="form-control" data-mask="000.000.000-00" />
                                    <span asp-validation-for="CPF" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="DataNascimento" class="control-label"></label>
                                    <input asp-for="DataNascimento" class="form-control" />
                                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                </div>
                                <div class="col form-group">
                                    <label asp-for="Telefone" class="control-label"></label>
                                    <input asp-for="Telefone" class="form-control" data-mask="(00)00000-0000" />
                                    <span asp-validation-for="Telefone" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="form-row">
                                <div class="col form-group">
                                    <label class="control-label"> ENDEREÇO </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="Rua.Nome" class="control-label"></label>
                                    <input asp-for="Rua.Nome" class="form-control" />
                                    <span asp-validation-for="Rua.Nome" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group col-9">
                                    <label asp-for="Bairro.Nome" class="control-label"></label>
                                    <input asp-for="Bairro.Nome" class="form-control" />
                                    <span asp-validation-for="Bairro.Nome" class="text-danger"></span>
                                </div>
                                <div class="col form-group col-3">
                                    <label asp-for="Numero" class="control-label">Nº Casa</label>
                                    <input asp-for="Numero" class="form-control" />
                                    <span asp-validation-for="Numero" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group col-9">
                                    <label asp-for="Cidade.Nome" class="control-label"></label>
                                    <input asp-for="Cidade.Nome" class="form-control " />
                                    <span asp-validation-for="Cidade.Nome" class="text-danger"></span>
                                </div>
                                <div class="col form-group col-3">
                                    <label asp-for="Cidade.Estado" class="control-label">UF</label>
                                    <input id="estado" asp-for="Cidade.Estado" class="form-control" data-mask="SS" onKeyUp="maiusculas(this)" />
                                    <span asp-validation-for="Cidade.Estado" class="text-danger"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="form-row">
                                <div class="col form-group">
                                    <button type="submit" class="btn btn-success btn-block btn-lg" /> Confirmar
                                </div>
                            </div>
                        </form>
                    </article>
                </div>
            </aside>
        </div>
    </section>
    <hr />
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
