@model LivrariaMHS.Models.Attributes.Cliente
@using LivrariaMHS.Models.Enums

@{
    ViewData["Title"] = "EDITAR CLIENTE";
}

<p><h1>@ViewData["Title"]</h1></p>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" placeholder="Selecione" asp-items="Html.GetEnumSelectList<Sexo>()" class="form-control"><option class="text-secondary" value="" disabled selected hidden>Selecione...</option></select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" data-mask="000.000.000-00" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>

            <hr />
            <div class="form-group">
                <label class="control-label"> ENDEREÇO </label>
            </div>
            <div class="form-group">
                <label asp-for="Rua.Nome" class="control-label"></label>
                <input asp-for="Rua.Nome" class="form-control" />
                <span asp-validation-for="Rua.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro.Nome" class="control-label"></label>
                <input asp-for="Bairro.Nome" class="form-control" />
                <span asp-validation-for="Bairro.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade.Nome" class="control-label"></label>
                <input asp-for="Cidade.Nome" class="form-control" />
                <span asp-validation-for="Cidade.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade.Estado" class="control-label"></label>
                <input asp-for="Cidade.Estado" class="form-control" />
                <span asp-validation-for="Cidade.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-warning btn-lg" /> &ensp;
                <a asp-action="Index" class="btn btn-info btn-lg">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
