@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "CLIENTES";
}

<main>
    <div class="panel panel-primary">
        <hr />
        <h1>@ViewData["Title"]</h1>
        <div class="panel-heading">
            <form asp-action="Index" class="form form-inline">
                <input onkeyup="ajaxTest();" class="form form-control float-left mr-sm-n5 col-4" type="text" name="pesquisa" id="pesquisa" placeholder="PESQUISAR CLIENTE" value=@ViewData["pesquisa"]>
                <a asp-action="Create" class="btn btn-facebook col-2">Novo</a>
            </form>
        </div>
        <div class="panel-body">
            @if (@TempData["Concluido"] != null)
            {
                <p><span class="text-success col-2">@TempData["Concluido"] </span></p>
            }
        </div>
        <div id="divClientes">
            @{ await Html.RenderPartialAsync("_clientPartial", Model);}
        </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript">
        function ajaxTest() {
            console.log("Entered method");
            $.ajax({
                type: "get",
                url: '/ClientesController/PesquisarClientes?termo=' + $("#pesquisa").val(),
                contentType: "application/json; charset=utf-8",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "html",
            }).done(function (data) {
                console.log(data.result);
                $('#divClientes').html(data);
            })
        }
    </script>
}